@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@media all {
  header, main {
    display: block;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/ce/09/b3/ce09b3dc3bc1ab51293d55b610dc3f22.jpg);
    background-repeat: repeat;
    color: #fff;
    font-family: 'AmongUs';
    font-size: 30px;
  }
  div {
    color: white;
    font-family: 'AmongUs';
    font-size: 30px;
  }
}

@media screen {
  .dropbtn {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    border: none;
    background-color: #000;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .dropdown-content a {
    color: rgba(255, 255, 255, 0.8);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
  }
  .dropdown-content a:hover {
    font-size: 30px;
    color: white;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    font-size: 30px;
  }
  .dropdown:hover .dropbtn {
    font-size: 30px;
    color: white;
  }
  .grid {
    display: -ms-grid;
    display: grid;
  }
  header {
    padding: 30px 0;
    font-family: 'AmongUs';
  }
  header h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
  }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
  }
  header ul li {
    margin-right: 30px;
    float: left;
    font-size: 25px;
  }
  header a {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  header a:hover, header header a:focus {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }
  header h1 a:hover, header header h1 a:focus {
    color: #fff;
    font-size: 55px;
    text-decoration: none;
  }
  header .secondNav ul li {
    float: right;
  }
  header .logo {
    width: 200px;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .headline {
    margin: 0px;
    text-align: center;
    min-height: 100%;
    position: relative;
    -webkit-animation-name: appear;
            animation-name: appear;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  .headline img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 1440px;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
  }
  .headline blockquote {
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 100px;
    width: 400px;
    line-height: 100px;
    text-transform: uppercase;
  }
  .headline .botline {
    position: absolute;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);
    height: 200px;
    width: 100%;
  }
  .headline .topline {
    position: absolute;
    top: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
    height: 150px;
    width: 100%;
  }
  .headline .learn {
    display: inline-block;
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 200px;
    border: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 3px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 40%;
    right: 35%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .headline .learn:hover, .headline .learn:focus {
    color: white;
    text-decoration: none;
    bottom: 41%;
    border: rgba(255, 0, 0, 0.4);
    border-style: solid;
    border-width: 3px;
  }
  .headline .download {
    display: inline-block;
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 200px;
    border: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 3px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 40%;
    left: 35%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .headline .download:hover, .headline .download:focus {
    color: white;
    text-decoration: none;
    bottom: 41%;
    border: rgba(255, 0, 0, 0.4);
    border-style: solid;
    border-width: 3px;
  }
  @-webkit-keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .news {
    color: white;
    font-family: 'AmongUs';
    font-size: 40px;
  }
  .news hr {
    color: aqua;
    height: 10px;
    width: 100%;
  }
  .news .piece {
    padding: 0 5px;
  }
  .news .piece img {
    max-width: 100%;
  }
  .news .piece .inneText {
    position: absolute;
    bottom: 0;
  }
  .map {
    text-align: center;
    margin: 0;
  }
  .map span {
    display: block;
    font-size: 50px;
    opacity: 0.7;
    font-style: italic;
    height: 50px;
  }
  .map strong {
    font-size: 100px;
    font-style: italic;
  }
  .map p {
    font-size: 1.3vw;
    padding: 0 20%;
    font-family: "Alegreya Sans Thin", sans-serif;
    font-weight: thin;
    letter-spacing: 0.08em;
  }
  .maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
  .card {
    margin: 0 2vw;
    width: 20vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 2vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    border: 2px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 4px 4px 0 rgba(223, 69, 69, 0.1);
            box-shadow: 4px 4px 0 rgba(223, 69, 69, 0.1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 190px;
  }
  .card-title {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
    font-family: "Space Mono", monospace;
    margin: 2vw 0 0;
    font-size: 2.5vw;
    opacity: 1;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    color: black;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card:hover, .card:focus {
    width: 21vw;
    height: 210px;
  }
  .card:hover .card-title, .card:focus .card-title {
    font-size: 3vw;
  }
  .card img {
    max-width: 100%;
    max-height: 50vh;
    opacity: 1;
    margin: auto;
    display: block;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    -webkit-transform: none;
            transform: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
  }
  .card.isVisible img {
    max-width: 100%;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .card.isVisible .card-title {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .card:first-child {
    margin-left: 0;
  }
  .statistics {
    margin: 50px;
  }
  .statistics img {
    max-width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .statText {
    color: white;
    font-family: "Alegreya Sans Thin", sans-serif;
    margin: auto 0;
  }
  .statText h1 {
    font-family: 'AmongUs';
    margin: 20px 0px 0 20px;
    font-size: 70px;
    font-weight: 700;
  }
  .statText p {
    margin: 40px 0px 40px 20px;
    font-size: 1.3vw;
  }
  .statText button {
    margin: 0 auto;
    display: block;
    width: 30%;
    background: none;
    text-decoration: none;
    border-radius: 10px;
    border: solid 2px white;
    padding: 5px;
    background-clip: content-box;
    background-color: white;
    font-family: 'AmongUs';
    text-align: center;
    color: black;
    font-size: 30px;
  }
  .statText button:hover, .statText button:focus {
    -webkit-text-decoration-color: white;
            text-decoration-color: white;
    border-color: #03AC13;
  }
  .statText a {
    margin: 0 auto;
    text-align: center;
  }
  .statText a:hover, .statText a:focus {
    text-decoration: none;
    -webkit-text-decoration-color: white;
            text-decoration-color: white;
  }
  .airship {
    background: url(./i/airship.jpeg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    height: 100%;
    width: auto;
  }
  .menu {
    padding: 10px;
  }
  footer.grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer.wrapper {
    padding: 80px 110px;
  }
  footer form {
    padding: 10px;
  }
  footer form.grid {
        grid-template-areas: "nm em" "fd fd";
    -ms-grid-rows: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer .formName {
    background-color: #000;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nm;
  }
  footer .formMail {
    background-color: #000;
    margin: 5px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: em;
    border: 1px solid white;
    border-radius: 5px;
  }
  footer .formFeedback {
    background-color: #000;
    margin: 5px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: fd;
    border: 1px solid white;
    border-radius: 5px;
  }
  footer .submit {
    background-color: white;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
  }
  footer li {
    display: inline-block;
    margin-right: 20px;
  }
  footer li a {
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  footer li a:hover, footer li a:focus {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }
  footer li .logo {
    height: 30px;
    width: 120px;
  }
  footer .logoli {
    float: right;
  }
  footer hr {
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
  footer #social {
    width: 200px;
    height: 52px;
    margin-bottom: 15px;
    background: url(./i/social-media-icons.png) top left no-repeat;
  }
  footer #social a {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  p {
    font-size: 20px;
  }
  .firstHalf {
    text-align: center;
  }
}

@media screen and (max-width: 1010px) {
  .second {
    height: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
