        @import url(https://fonts.googleapis.com/css?family=Space+Mono);
        @media all {
            .writer {
                padding: 20px 0;
            }
            .writer h6 {
                margin: 0;
                padding-top: 20px;
            }
            .writer.grid {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "img h6" "img b";
            }
            .profile {
                grid-area: img;
            }
            .writer img {
                margin-right: 20px;
                width: 70px;
                border-radius: 70px;
                float: right;
                margin-top: 13px;
            }
        }
        
        @media screen and (max-width:992px) {}
        
        @media screen and (max-width:768px) {
            .writer img {
                margin-right: 15px;
                width: 50px;
                border-radius: 50px;
                margin-top: 13px;
            }
            h6 {
                font-size: 0.7rem !important;
            }
            b {
                font-size: 20px;
            }
        }
        
        @media screen and (max-width:600px) {}