@import url(https://fonts.googleapis.com/css?family=Space+Mono);
@media all {}

@media screen and (max-width:992px) {}

@media screen and (max-width:768px) {
    #first {
        order: 1;
    }
    #second {
        order: 2;
    }
    #third {
        order: 3;
    }
    #fourth {
        order: 4;
    }
}

@media screen and (max-width:600px) {}